* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

/* root */
:root {
    /* Dark mode */
    --body-bg: #121212;
    --bg-color: #2A2A2A;
    --bg-2-color: #353535;
    --form-bg-2-color: #323741;
    --border-color: #414551;
    --white-color: #FFFFFF;
    --p1-task: #F44336;
    --p2-task: #3D5AFE;
    --p3-task: #FF9100;
    --done: #00C853;

}

/* common classes */
h3 {
    font-size: 1.2rem;
    margin: .7em 0 1em 0;

}

.w-33 {
    background: var(--bg-color);
    width: 100%;
    padding: 1em;
    margin: .5em 0em;
    position: relative;
}

.w-33 span {
    margin: 0;
}

.borderRadius {
    border-radius: 1.5em;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.flexCenter {
    align-items: center;
}

.flexBetween {
    justify-content: space-between;
}

.flexEvenly {
    justify-content: space-evenly;
}

button,
button:hover,
button:focus,
input,
input:focus,
input:hover {
    outline: none;
    border: none;
}

button {
    background: none;
}

span {
    display: block;
    padding: 1em;
    background: var(--bg-2-color);
    border-radius: 1em;
    margin: 1em;
    cursor: pointer;
    transition: .5s;
}

span:hover {
    transform: translateY(-.4rem);
}

i {
    color: var(--white-color);
    font-size: 1.5rem;
    pointer-events: none;
}

/* body */
body {
    font-family: 'Roboto', sans-serif;
    background: var(--body-bg);
    color: var(--white-color);
}

/* todo form */
#todoForm {
    background: var(--bg-color);
    padding: 1rem;
    width: 100%;
    margin: auto;
    position: fixed;
    z-index: 1000;
    border-top: 1px solid var(--border-color);
    bottom: -100%;
}

#todoForm.openTodoForm {
    transition: .5s;
    bottom: 0%;
}

span#openInput {
    display: inline-block;
    position: fixed;
    z-index: 2000;
    right: 17px;
    bottom: 16px;
    background: var(--p2-task);
}

span#openInput.closedBtn {
    display: none;
    z-index: -1000;
}

.todoInputDiv {
    flex: 1;
    padding: .1em;
    flex-basis: 100%;
}

.todoInputDiv input {
    width: 100%;
    padding: 1em;
    color: var(--white-color);
    background: var(--h1-color);
    border-bottom: 1px solid var(--border-color);
    font-size: 1.3rem;
    text-transform: capitalize;
}

.todoInputIconDiv {
    flex-basis: 100%;
}

/* task */
.taskBody {
    padding: 1em;
}

.taskBody.taskBodyOpacity {
    opacity: .5;
}

#taskTag {
    background: none;
    position: absolute;
    margin-top: 0;
    top: -0.1rem;
    right: 1.5rem;
    padding: 0;
}

.p1Task #taskTag i {
    color: var(--p1-task);
}

.p2Task #taskTag i {
    color: var(--p2-task);
}

.p3Task #taskTag i {
    color: var(--p3-task);
}

.complated {
    opacity: .4;
}

.complated h3 {
    text-decoration: line-through;
}

.complated span:hover {
    transform: translateY(-.0rem);
}

.complated #taskDone {
    background: var(--done);
}

/* media */
@media screen and (min-width:991px) {
    .w-33 {
        background: var(--bg-color);
        width: 30%;
        padding: 1.5em;
        margin: 1em;
        position: relative;
    }

    .todoInputDiv,
    .todoInputIconDiv {
        flex-basis: auto;
    }

}